<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello RecipeHeaven!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">RecipeHeaven</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
              <%= if logged_in?(@conn) do %>
                <li class="nav-item">
                  <span class="text-info"><%= current_user(@conn).email %></span>
                </li>
                <li class="nav-item">
                  <%= link "Your Recipes", to: recipe_path(@conn, :index), class: "nav-link" %>
               </li>
                <li class="nav-item">
                  <%= link "Create A Recipe", to: recipe_path(@conn, :new), class: "nav-link" %>
               </li>
                <li class="nav-item">
                  <%= link "Logout", to: session_path(@conn, :delete, current_user(@conn).id), class: "nav-link", method: :delete %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link "Register", to: registration_path(@conn, :new), class: "nav-link" %>
                </li>
                <li class="nav-item">
                  <%= link "Login", to: session_path(@conn, :new), class: "nav-link" %>
               </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
      <%
info = get_flash(@conn, :info)
error = get_flash(@conn, :error)
      %>
      <%= if info do %>
	<div class="alert alert-info" role="alert"><%= info %></div>
      <% end %>

      <%= if error do %>
	<p class="alert alert-danger" role="alert"><%= error %></p>
      <% end %>

      <main role="main">
      <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
